*{
    font-family: Arial, Helvetica, sans-serif;
}

.my-label{
    font-size: 16px;
}

.my-input{
    padding: 8px 4px;
    width: 300px;
}

.my-button{
    background: #4caf50;
    color: white;
    border-radius: 3px;
    padding: 8px 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.my-button:hover{
    background: #339037;
    transition: 0.3s;
}

.validation-error{
    background: #F44336;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 3px;
    width: 430px;
}